@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
    }
  }

  &__logo {
    display: flex;

    img {
      width: 60px;
      margin:15px 15px 0 0;

      @media (max-width: 426px) {
        width: 45px;
        margin: 0 10px 0 0;
      }
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 426px) {
        font-size: 20px;
      }
    }

    p {
      color: #7b7b7b;

      @media (max-width: 426px) {
        display: none;
      }
    }
  }

  @media (max-width: 426px) {
    padding: 15px 0;
  }
}